<div class="p-4">
    <div class="container">
        <h2>Welcome {{user.firstName}}!</h2>
        <br>
        <p>In this site you can be happy ! How ? It's simple, you have to play and if by chance you win, the prize is yours ! But if you loose, you have a dare, and you have to do it before to play once again.
            <br><br> Warning /!\/!\/!\ <br><br>
            Every prize is different. An expensive prize is difficult and rare to win. More than that it's limited in time. For example, a prize in the expensive category can only be played once in three months or more. But a prize in the common category is less difficult but not too easy to win neither. It's also limited in time, but you can try more frequently, for example once every one or two weeks.
        </p>
    </div>
</div>