<div class="birthday-fireworks" *ngIf="(isBirthday && !hasCelebrated); else noBirthday">
  <div class="hb-message" id="hbMessage-container" (click)="stopAnimation()">
      <div id="hbMessage">
        <h1>!! HAPPY BIRTHDAY {{currentUser.firstName.toUpperCase()}} !!</h1>
        <h1 *ngIf="currentUser.firstname == Imaan">I love you so much ❤️❤️❤️</h1>
      </div>
  </div>
</div>

<ng-template #noBirthday>
  <div #smoothscroll data-scroll-container style="overflow-x: hidden;">
    <section id="panel-top" ></section>
    <section id="panel1" class="panel">
      <div #background1 class="background">
        <div class="welcome-container" *ngIf="currentUser">
          <h1>Welcome, {{currentUser.firstName}}</h1>
        </div>
        <div class="img-text-container-right gs_reveal gs_reveal_fromRight">
          <div class="text-right-container">
            <p style="padding: 10px;">Welcome to How to make you happy? <br>Would you like that you partner offer you what you have always wanted? 
              <br>With your partner(or friends), you can play this little game.  
              You can win anything that you want but it depends on your chance. It's like bet on something that you have always wanted.
            </p>
          </div>
          <div class="img-right-container">
            <img src={{randomBagsPic}}>
          </div>
        </div>
        <div class="scroll-down" href='#panel2' data-scroll-to><i class="fas fa-chevron-down bounce-down"></i></div>
      </div>
    </section>

    <section id="panel2" class="panel">
      <div #background2 class="background">
        <div class="img-text-container-left gs_reveal gs_reveal_fromLeft">
          <div class="img-left-container">
            <img src={{randomShoesPic}}>
          </div>
          <div class="text-left-container">
            <p style="padding: 10px;">Here's the rules, it's simple : You win, your partner buy it for you.<br> 
              For that you need to add what you would like to have as a prize in the list. Complete the form with 
              all the details needed. And voilà ! Pray, play and the prize might be yours.
            </p>
          </div>
        </div>
        <div class="scroll-down" href='#panel3' data-scroll-to><i class="fas fa-chevron-down bounce-down"></i></div>
      </div>
    </section>

    <section id="panel3" class="panel">
      <div #background3 class="background">
        <div class="img-text-container-right gs_reveal gs_reveal_fromRight">
          <div class="text-right-container">
            <p style="padding: 10px;">As said earlier, you can add anything that you want that your partner can afford to offer you. Jewelry, bags, 
              restaurant or even travel for two.
              <br>There is a countdown before to play. When you played and have lost, you can try again 24h later. 
              <br>It is possible that multiple prizes can be available at the same time but you can win only one prize.
              <br>But if you win all the prizes that you played with, they will have a new countdown depending on the cost of the winning prize.
              <br>All prizes are not the same. Some are expensive others are cheaper. More expensive it is more you have to wait before to play. 
              It also means that you can play only once per countdown. 
            </p>
          </div>
          <div class="img-right-container">
            <img src={{randomJewelryPic}}>
          </div>
        </div>
        <div class="scroll-down" href='#panel4' data-scroll-to><i class="fas fa-chevron-down bounce-down"></i></div>
      </div>
    </section>

    <section id="panel4" class="panel">
      <div #background4 class="background">
        <div class="img-text-container-left gs_reveal gs_reveal_fromLeft">
          <div class="img-left-container">
            <img src={{randomDressPic}}>
          </div>
          <div class="text-left-container">
            <p style="padding: 10px;">So what are you waiting for ? Maybe the next prize is already yours. 
              <br>You just need to create an account.
              <br>Good Luck and love your partner!
            </p>
          </div>
        </div>
        <div  class="scroll-down" href='#panel-top' data-scroll-to><i class="fas fa-chevron-up bounce-up"></i></div>
      </div>
    </section>

  </div>
</ng-template>
