:host {
    height: 100%;
    width: 100%;
    display: block;
}

.log-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    font-family: ABChanel Corpo Extra Light;
}

h4, h2, button, a {
    font-family: ABChanel Corpo Regular;
}

mat-card {
    display: flex;
    flex-direction: column;

    mat-card-content {
        display: flex;
        justify-content: center;
    }

    mat-form-field {
        margin-bottom: 10px;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.button-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Mobile devices ----------- */
@media (max-width: 767px) {
    .log-reg-component {
        width: 75%
    }

}
  
/* Desktops and laptops ----------- */
@media (min-width: 800px) {
    .log-reg-component {
       width: 25%;
    }
}