<div class="log-page">
  <div class="log-reg-component">
    <mat-card>
        <mat-card-title><h4>Log In</h4></mat-card-title>
  
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">

          <mat-form-field >
            <input matInput placeholder="Username" formControlName="username" required>
            <mat-error *ngIf="f.username.invalid">Username is required</mat-error>
          </mat-form-field>

          <mat-form-field >
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="f.password.invalid">Password is required</mat-error>
          </mat-form-field>

          <div class="button-group">
            <button mat-raised-button color="primary" 
            type="submit" 
            [disabled]="loading || form.invalid"  
            class="btn btn-primary">
              <mat-spinner *ngIf="loading"></mat-spinner>
              Login
            </button>
            <a routerLink="../register" color="primary">Register</a>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
