<div class="log-page">
  <div class="log-reg-component">
    <mat-card>
      <mat-card-title>
        <h4>Register</h4>
      </mat-card-title>

      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">

          <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstName" required>
            <mat-error *ngIf="f.firstName.invalid">First Name is required</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Username" formControlName="username" required>
            <mat-error *ngIf="f.username.invalid">Username is required</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="f.email.invalid">Email must be a valid email address</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="date" placeholder="Birthdate" formControlName="birthdate" required>
            <mat-error *ngIf="f.birthdate.invalid">Birthdate is required</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="f.password.invalid">Password must be at least 6 characters</mat-error>
          </mat-form-field>

          <div class="button-group">
            <button mat-raised-button color="primary" 
            type="submit" 
            [disabled]="loading || form.invalid"   
            class="btn btn-primary">
              <mat-spinner *ngIf="loading"></mat-spinner>
              Register
            </button>
            <a routerLink="../login" color="primary">Cancel</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
