<div class="prizes-component">
  <p *ngIf="currentUser" style="margin-top: 77px;">LIST OF PRIZES</p>
  <div class="list-prize table-responsive">
    <div>
      <button (click)="needToAdd = !needToAdd" *ngIf="currentUser" style="margin-bottom: 20px; height: 40px; display: block;"
        class="btn btn-sm btn-danger btn-add-prize mx-auto">
        <span>Add new prize</span>
      </button>
    </div>
    <table class="table table-hover" *ngIf="(prizes.length > 0)">
      <thead>
        <tr>
          <td colspan="4" class="text-center">
            <span class="align-center">You can still win : </span>
          </td>
        </tr>
        <tr>
          <th style="min-width: 20%">Picture</th>
          <th style="width: 20%" (click)="sortFunction(sortAsc, 'name')">Name <i class="fa fa-sort"></i></th>
          <th style="width: 10%" (click)="sortFunction(sortAsc, 'cost')">Cost <i class="fa fa-sort"></i></th>
          <th style="width: 30%;" (click)="sortByTimer(sortAsc)">Timer <i class="fa fa-sort"></i></th>
          <th style="min-width: 20%" *ngIf="currentUser.username == 'admin'"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prize of prizes">
          <td><img src="{{prize.picture ? (pathToPicture+prize.picture) : ''}}" class="img-fluid img-thumbnail"></td>
          <td>{{prize.name}}</td>
          <td>{{prize.cost}}</td>
          <td>
            <div class="timer-cell" [ngStyle]="{'color' : prize.color}">{{prize.timer | async }}</div>
          </td>
          <td style="white-space: nowrap" *ngIf="currentUser.username == 'admin'">
            <a class="btn btn-sm btn-primary mr-1" (click)="editPrize(prize)">Edit</a>
            <button (click)="deletePrize(prize.name, prize.user)" class="btn btn-sm btn-danger btn-delete-user">
              <span *ngIf="prize.isDeleting" class="spinner-border spinner-border-sm"></span>
              <span *ngIf="!prize.isDeleting">Delete</span>
            </button>
          </td>
        </tr>
        <tr *ngIf="(prizes.length == 0)">
          <td colspan="4" class="text-center">
            <span class="spinner-border spinner-border-lg align-center"></span>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover" *ngIf="(prizesWon.length > 0)">
      <thead>
        <tr>
          <td colspan="4" class="text-center">
            <span class="align-center">You have won : </span>
          </td>
        </tr>
        <tr>
          <th style="min-width: 20%">Picture</th>
          <th style="width: 20%" (click)="sortFunctionWon(sortAsc, 'name')">Name <i class="fa fa-sort"></i></th>
          <th style="width: 10%" (click)="sortFunctionWon(sortAsc, 'cost')">Cost <i class="fa fa-sort"></i></th>
          <th style="width: 30%">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prize of prizesWon">
          <td><img src="{{prize.picture ? (pathToPicture+prize.picture) : ''}}" class="img-fluid img-thumbnail"></td>
          <td>{{prize.name}}</td>
          <td>{{prize.cost}}</td>
          <td>{{prize.won_date | date:'d/MM/yyyy HH:mm:ss'}}</td>
        </tr>
        <tr *ngIf="(prizesWon.length == 0)">
          <td colspan="4" class="text-center">
            <span class="spinner-border spinner-border-lg align-center"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="add-prize" *ngIf="needToAdd">
    <mat-card>
      <mat-card-title><h4>Add prize</h4></mat-card-title>

      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">

          <mat-form-field >
            <input matInput placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="f.name.invalid">Name is required</mat-error>
          </mat-form-field>

          <mat-form-field >
            <input matInput type="number" placeholder="Cost" formControlName="cost" class="number-input" required>
            <span matSuffix>€</span>
            <mat-error *ngIf="f.cost.invalid">Cost is required</mat-error>
          </mat-form-field>

          <mat-form-field>
            <ngx-mat-file-input formControlName="picture" placeholder="Picture is not mandatory" accept="image/*" (change)="updateName($event)"></ngx-mat-file-input>
            <mat-icon matSuffix>upload_file</mat-icon>
          </mat-form-field>

          <div class="button-group">
            <button mat-raised-button color="primary" 
            type="submit" 
            [disabled]="loading || form.invalid" 
            class="btn btn-primary">
              <mat-spinner *ngIf="loading"></mat-spinner>
              <span>Add</span>
            </button>
            <button (click)="needToAdd = !needToAdd" class="btn btn-secondary">
              <span>Cancel</span>
            </button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="edit-prize" *ngIf="needToEdit">
    <mat-card>
      <mat-card-title><h4>Edit a prize</h4></mat-card-title>

      <mat-card-content>
        <form [formGroup]="formEdit" (ngSubmit)="onSubmit()" class="form-container">

          <mat-form-field >
            <input matInput placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="f2.name.invalid">Name is required</mat-error>
          </mat-form-field>

          <mat-form-field >
            <input matInput type="number" placeholder="Cost" formControlName="cost" class="number-input" required>
            <span matSuffix>€</span>
            <mat-error *ngIf="f2.cost.invalid">Cost is required</mat-error>
          </mat-form-field>

          <mat-form-field >
            <input matInput type="number" placeholder="Category" formControlName="category" class="number-input" required>
            <mat-error *ngIf="f2.category.invalid">Category is a number</mat-error>
          </mat-form-field>

          <mat-form-field >
            <input matInput type="number" placeholder="Countdown" formControlName="countdown_time" class="number-input" required>
            <span matSuffix>ms</span>
            <mat-error *ngIf="f2.countdown_time.invalid">Countdown is required</mat-error>
          </mat-form-field>

          <mat-checkbox matInput type="checkbox" formControlName="already_won">Already won</mat-checkbox>
          
          <mat-form-field >
            <input matInput placeholder="User" formControlName="user"  required>
            <mat-error *ngIf="f2.user.invalid">User is required</mat-error>
          </mat-form-field>

          <mat-form-field>
            <ngx-mat-file-input formControlName="picture" placeholder="Picture is not mandatory" accept="image/*" (change)="updateName($event)"></ngx-mat-file-input>
            <mat-icon matSuffix>upload_file</mat-icon>
          </mat-form-field>

          <div class="button-group">
            <button mat-raised-button color="primary" 
            type="submit" 
            [disabled]="loading || formEdit.invalid" 
            class="btn btn-primary">
              <mat-spinner *ngIf="loading"></mat-spinner>
              <span>Edit</span>
            </button>
            <button (click)="needToEdit = !needToEdit" class="btn btn-secondary">
              <span>Cancel</span>
            </button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
