@import "../game/Game-runner.css";

:host {
  min-height: 100vh;
  display: block;
}


td,
th {
  vertical-align: middle;
  text-align: center;
  color: white
}

th,
span,
h4 {
  font-family: ABChanel Corpo SemiBold;
}

td,
label,
i {
  font-family: ABChanel Corpo Extra Light;
}


h1,
h2 {
  font-family: ABChanel Corpo SemiBold;
  color: white;
  text-align: center;
}

.congrats-fireworks {
  height: 100%;
  width: 100%;
  background-color: #000000e6;
  position: fixed;

  opacity: 0;
  transition-duration: .3s;
  transition-property: opacity;
}

.congrats-fireworks.active {
  opacity: 1;
}

.congrats-message {
  height: 100%;
  width: 100%;
  position: absolute;
  color: white;
  font-family: ABChanel Corpo SemiBold;


  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-container {
  height: 100%;
  background-color: transparent;
  text-align: center;
}

#resultPrize h1 {
  font-family: ABChanel Corpo Extra Light;
  color: black;
  font-size: 1.5rem;
}

.no-prizes-message {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 2;

  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.game {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-grow: 2;
}

.play-component {
  background-image: url("../../assets/images/cosmetic10.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.3);

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-prize {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  width: 100%;
}

.wheel-container {
  display: flex;
  flex-grow: 1;
  margin: 50px;
}

#wheelOfFortune {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#wheel {
  display: block;
  width: 100%;
  height: auto;
}

#spin {
  font: 1.5em/0 ABChanel Corpo SemiBold;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 27%;
  margin: -15%;
  background: #fff;
  color: #fff;
  box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transition: 0.8s;
}

#spin::after {
  content: "";
  position: absolute;
  top: -17px;
  border: 10px solid transparent;
  border-bottom-color: currentColor !important;
  border-top: none;
}


/* Mobile devices ----------- */
@media (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }

  #spin {
    font-size: 1.1em;
  }

  .lucky {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: slidebg 2s linear infinite;
    -webkit-animation: slidebg 2s linear infinite;
  }

  @keyframes slidebg {
    to {
      background-position: 100vw;
    }
  }

  .title-page {
    font-family: ABChanel Corpo SemiBold;
    color: white;
    text-align: center;
    font-size: 40px;
    flex-grow: 1;
  }

  .button-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 2;

    .or {
      font-size: 30px;
      font-family: ABChanel Corpo SemiBold;
      color: white;
      text-align: center;
    }

    button {

      span {
        font-size: 1.2rem;
      }
    }
  }

  .table {
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.3);

    overflow-x: scroll;
    display: block;
    white-space: nowrap;
  }

}

/* Desktops and laptops ----------- */
@media (min-width: 800px) {
  .list-prize {
    width: 50%;
  }

  .lucky {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: slidebg 2s linear infinite;
    -webkit-animation: slidebg 2s linear infinite;
  }

  @keyframes slidebg {
    to {
      background-position: 20vw;
    }
  }

  .button-group {
    display: flex;
    width: 30%;
    height: 100px;
    flex-grow: 3;

    .or {
      font-size: 60px;
      font-family: ABChanel Corpo SemiBold;
      color: white;
      text-align: center;
      align-self: center;
    }

    button {
      align-self: center;
      height: auto;
      width: 30%;

      span {
        font-size: 1.5rem;
      }
    }
  }

  .title-page {
    font-family: ABChanel Corpo SemiBold;
    color: white;
    text-align: center;

    flex-grow: 1;
  }

  .table {
    box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.3);

    overflow-y: scroll;
    white-space: nowrap;
  }
}
